body{
    font-family: Nunito Sans;
    background-color: #232e3f;
}

.container-fluid{
    background-image: url(images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Arial';
    text-align: center;
    color: white
}

#logo{
    margin: 40px 0;
}

.height-full {
  height: 100vh;
}

.width-full {
  width: 100%;
}

.main h1, .main a, .main p{
    margin: auto;
    color: #fff;
}

.main p{
    font-size: 24px;
    text-align: center;
}

.row{
    margin: 0;
}

.main {
    background-color: #2a518c;
    opacity: 0.95;
    width: 80%;
    height: 80%;
    margin: auto;
}

label{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}

.verical-space{
    margin: auto 0px;
}

.btn-style{
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #2c74e0;
    margin: auto;
    border: 0;
    width: 100%;
}

#register{
    background-color: #66ff33;
}

.row{
    padding: 0 60px;
}

.form-control{
    height: 50px;
    font-size: 30px;
}

form{
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

form .row{
    padding: 0;
}

.container-fluid{
    padding: 0;
}

label{
    font-size: 36px;
}

h1 {
    color: #78ab46!important;
}

.error-message {
    color: #a94442!important;
    text-align: left!important;
}

.error-message:first-letter {
    text-transform: capitalize!important;
}


