body{
    font-family: Nunito Sans;
    background-color: #232e3f;
}

.container-fluid{
    background-image: url(images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Arial';
    text-align: center;
    color: white
}


#logo{
    margin: 40px 0;
}

.height-full {
  height: 100vh;
}

.width-full {
  width: 100%;
}

.main h1, .main a, .main p{
    margin: auto;
    color: #fff;
}

.main p{
    font-size: 24px;
    text-align: center;
}

.row{
    margin: 0;
}

.main {
    background-color: #2a518c;
    opacity: 0.95;
    width: 80%;
    height: 80%;
    margin: auto;
}

.container-fluid{
    padding: 0;
}

label{
    margin: 0 5px 0 0;
    padding: 0;
    font-size: 16px;
    color: #495057;
}

.verical-space{
    margin: auto 0px;
}

.btn-style{
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #2c74e0;
    margin: auto;
    border: 0;
    width: 100%;
}

.update,.add,.delete{
    color: white;
    border-radius: 25px;
    margin: auto;
    border: 0;
    opacity: 0.8;
}

#close,#open{
    font-size: 30px;
}

.update{
    background-color: deepskyblue;
}
.add{
    background-color: #66ff33;
}
.delete{
    background-color: red;
}

.update:hover{
   opacity: 1;
    font-size: 22px;
}
.add:hover{
    opacity: 1;
    font-size: 22px;
}
.delete:hover{
   opacity: 1;
    font-size: 22px;
}

#close:hover{
    opacity: 1;
    font-size: 22px;
}
#open:hover{
   opacity: 1;
   font-size: 22px;
}


.row{
    padding: 0 60px;
    flex-wrap: nowrap;!important
}

.form-control{
    height: 30px;
    font-size: 18px;
    margin-bottom: 5px;
    width: auto;
}

form{
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

form .row{
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .main {
        background-color: blue;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .container, .container-fluid{
        margin: 0;
        padding: 0;
    }
    
    .row{
        padding: 0;
    }
}

span{
	font-size: 14px;
	padding-bottom: 10px;
}

.btn-style{
	font-size: 14px;
}
.row{
	padding:0;
}
.gm-style .gm-style-iw-d{
	overflow: hidden;
}

.buttons{
	margin-top: 15px;
}
