body{
    font-family: Nunito Sans;
    background-color: #232e3f;
}

.container-fluid{
    background-image: url(images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Arial';
    text-align: center;
    color: white
}

#logo{
    margin: 40px 0;
}

.height-full {
  height: 100vh;
}

.width-full {
  width: 100%;
}

.main h1, .main a, .main p{
    margin: auto;
    color: #fff;
}

.main p{
    font-size: 24px;
    text-align: center;
}

.row{
    margin: 0;
}

.main {
    opacity: 0.95;
    width: 100%;
    height: 80%;
    margin: auto;
}

form .row{
	padding: 8px!important;
}

label{
    margin: 0;
    padding: 0;
    font-size: 23px;
    color: #fff;
}

.verical-space{
    margin: auto 0px;
}

.btn-style{
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #2c74e0;
    margin: auto;
    border: 0;
    width: 100%;
}

.container-fluid{
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1400px!important;
}

h2{
    text-align: center;
    padding-top: 40px;
    color: white;
}

.section{
    margin: 20px;
}

.main .row{
    padding: 0;
}

.main{
    padding: 0;
}

.main span{
    text-align: center;
    color:darkgray;
}

.statistics{
	display: flex;
	justify-content: center;
}

.statistics span{
    padding: 10px 0;
    font-size: 24px;
}

.section-bgc{
    background-color:#2a518c;
}

.aside{
    margin-bottom: 50px;
    min-height: 500px;
}

#admin{
	min-height: 200px;
	margin-bottom: 0px;
}
#caracteristici h2{
    padding-bottom: 53px;
}

.button{
    display: flex;
    justify-content: center;
}

.toggle-handle{
	padding: 15px!important;
}
form .buttons{
	margin-top: 40px;
}

.update{
    background-color: deepskyblue;
}
.add{
    background-color: #66ff33;
}
.delete{
    background-color: red;
}


.delete:hover{
    background-color: #ce1212;
}

#formAdministrator{
	display: flex!important;
	justify-content: center!important;
}

#firmaEmail{
	width: 70%!important;
}
#saveAdministrator{
	width: 10%;
}
#successEmail{
	width: 80%;
}
#successSaveEmail{
	width: 80%;
	padding: 5px 0 0 10px;
}

#successSaveEmail button{
	padding: 0 10px 0 0;
}