body{
    font-family: Nunito Sans;
    background-color: #232e3f;
}

.container-fluid{
    background-image: url(images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Arial';
    text-align: center;
    color: white
}

#logo{
    margin: 40px 0;
}

.height-full {
  height: 100vh;
}

.width-full {
  width: 100%;
}

.main h1, .main a, .main p{
    margin: auto;
    color: #fff;
}

.main p{
    font-size: 24px;
    text-align: center;
}

.row{
    margin: 0;
}

.main {
    background-color: #2a518c;
    opacity: 0.95;
    width: 80%;
    height: 80%;
    margin: auto;
}

label{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}

.verical-space{
    margin: auto 0px;
}

.btn-style{
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #2c74e0;
    margin: auto;
    border: 0;
    width: 100%;
}

.row{
    padding: 0 60px;
}

form .row{
    padding: 0;
}

.container-fluid{
    padding: 0;
}

label{
    font-size: 36px;
}

h2{
    text-align: center;
    padding-top: 40px;
    color: white;
}

.reservations span{
    text-align: center;
}

.reservations{
    max-height: 500px;
    overflow-y: scroll;
}

.reservation{
    max-height: 120px;
    min-height: 80px;
    margin-bottom: 30px;
    background-color:rgba(255,255,255,0.2);
    color: white;
}