body {
	font-family: Nunito Sans;
	background-color: #232e3f;
}

.container-fluid {
	background-image: url(images/background-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-family: 'Arial';
	text-align: center;
	color: white
}

#logo {
	margin: 40px 0;
}

.height-full {
	height: 100vh;
}

.width-full {
	width: 100%;
}

.row {
	margin: 0;
}

label {
	margin: 15px 0;
	padding: 0;
	font-size: 24px;
	color: #fff;
}

.verical-space {
	margin: auto 0px;
}

button {
	font-size: 20px;
	padding: 10px 20px;
	color: #fff;
	background-color: #2a518c;
	border-radius: 10px;
	margin: auto;
	border: 0;
	width: 100%;
}

.row {
	padding: 0 60px;
}

.map {
	min-height: 70%;
	background-color: cadetblue;
	margin-top: 60px;
	text-align: center;
}

input {
	border-radius: 15px;
}

.main {
	min-height: 80%;
}

button {
	margin: 20px;
}

.show {
	background-color: #2a518c;
	margin-left: 80px;
}

.container-fluid {
	padding: 0;
}

.header {
	background-color: rgba(255, 255, 255, 0.2);
}

.menu {
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu li {
	list-style: none;
	float: right;
	padding: 0 20px;
	color: white;
	font-size: 18px;
}

.menu li:hover {
	font-size: 20px;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: cadetblue;
}

.wrapper {
	filter: blur(2px);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	z-index: 1;
	display: none;
}

#makereservation {
	display: flex;
	flex-flow: column wrap;
	z-index: 2;
	background-color: gray;
	width: 400px;
	height: 500px;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.rezervare {
	display: flex;
	flex-flow: column wrap;
	align-items: left;
	margin: 50px 50px 0px 50px;
}

#availableHours {
	
}

.item {
	display: block;
}

label {
	display: inline;
}

input[type=checkbox] {
	display: inline;
}

.bloc {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	border: solid grey 1px;
	height: 500px;
}

.bloc select {
	padding: 10px;
	margin: -5px -20px -5px -5px;
	width: 423px;
	text-align: center;
	height: 100%;
	font-size: 18px;
}

#hours option {
	padding-bottom: 5px;
}

#hours option:hover {
	background-color: grey;
}