<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: header-css"></div>
<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
	integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	crossorigin="" />
<link rel="stylesheet" href="css/user.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
<title>ParkingApp</title>

</head>
<body>
	 	
<div class="modal" id="modalDialog"  role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
      Loc Rezervat!
      </div>
      
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
</div>
	
	<div class="modal fade" id="rezervaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       		<div class='rezervare'>
			<div class="item">

				<label>Data dorita:</label> <input type="date" class="form-control"
					id='data'>
			</div>
			<div class="item">
				<label>Nr.inmatriculare:</label> <input class="form-control"
					type="text" id='nr_inmatriculare'>
			</div>
			<div class="item">
			<div class="form-check-inline">
  				<label class="form-check-label">Fast charging:</label>
    			<input type="checkbox"  id='fast-charging' class="form-check-input" value="">
  				
			</div>
			
			</div>
		</div>

		<div class="bloc" id="#availableHours">
			<div id="noHours"></div>
			<select size="24" id="hours"></select>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="submitreservation"  class="btn btn-primary">Rezerva</button>
      </div>
    </div>
  </div>
</div>



	<div id="wrap">
		<div class="container-fluid  height-full">
			<div th:replace="header :: header"></div>
			<div id="logo" class="row d-flex justify-content-center">
				<h1 class="col-xl-12">Tesla</h1>
			</div>
			<div class="container search height-full width-full">
				<div id="map" class="row width-full main">
					
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<script th:inline="javascript">
	  $(document).ready(function() {
		function setAvailableHours(date){
	        var json = {
	         fast_charger : $("#fast-charging").is(":checked"),
	         date : date,
	         parcareId : $('.rezervare').attr('id')
	        };
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "/getAvailableHours",
			    data : JSON.stringify(json),
			    dataType : 'json',
				success : function(result) {
					var options = "";
					var nr_hours = result.availableHoursNoPreference.length;
					if (nr_hours == 0){
						$("#noHours").append("<p>No hours available</p>");
					}
					for (var i = 0; i < result.availableHoursNoPreference.length; i++){
						options += "<option id='" + result.availableHoursNoPreference[i].id_statie + "'value='" + result.availableHoursNoPreference[i].hour + "'>"
						+ result.availableHoursNoPreference[i].hour + "</option>";
					}
					$('#hours').html(options);
					
				},
				error : function(e) {
					alert("Error!")
					console.log("ERROR: ", e);
				}
			});
		}	
		
		  $("#fast-charging").on("change",function(){
			  var date = $("#data").val();
			  if (date != ''){
				  setAvailableHours(date);
			  }else
				  $("#hours").html("");
			  	
		  });
		  
		  $("#data").on("change",function(){
			  var date = $("#data").val();
			  $("#noHours").html("");
			  if (date != '')
			  	setAvailableHours(date);
			  else
				  $("#hours").html("");
		    });
		  
		  
		  $("body").on("click", "#submitreservation", function(event){
		        var fast_charge = $("#fast-charging").is(":checked");
		       
		        var date = $("#data").val();
		        var selectedHour = $('#hours').find(":selected").text();
				var nr_inmatriculare = $('#nr_inmatriculare').val();

		        var json = {
		         "fast_charger" : fast_charge,
		         "date" : date,
		         "ora_inceput" : selectedHour,
		         "id_statie" : $('#hours').find(":selected").attr('id'),
		         "nr_inmatriculare" : nr_inmatriculare
		        };
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : "/makeReservation",
				    data : JSON.stringify(json),
				    dataType : 'text',
					success : function(result) {
						setAvailableHours(date);
						$('#modalDialog').modal('show')
					},
					error : function(e) {
						alert("Error!")
						console.log("ERROR: ", e);
					}
				});
			});
		  
		  $("body").on("click", ".rezerva", function(event){
			
			    $('#rezervaModal').modal('show')
				  
			  $('.rezervare').attr('id', event.target.id);
			  
			  var dtToday = new Date();
		    	var month = dtToday.getMonth() + 1;
		    	var day = dtToday.getDate();
		    	var year = dtToday.getFullYear();
		    	if(month < 10)
		       	 	month = '0' + month.toString();
		    	if(day < 10)
		        	day = '0' + day.toString();
		    
		   		 var maxDate = year + '-' + month + '-' + day;

		    	$('#data').attr('min', maxDate);
		  });
		  
	    });


	$('#rezervaModal').on('hidden.bs.modal', function () {
        $('#hours').html('');
        $("#fast-charging").prop("checked", false);
        $("#data").val("");
		$("#nr_inmatriculare").val("");
		$("#noHours").html("");
		});
	
 
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 46.775349, lng: 23.622477}
        });
        var geocoder = new google.maps.Geocoder();
          geocodeAddress(geocoder, map);
      }

      function geocodeAddress(geocoder, resultsMap) {
    	  
    	  var ListAdresses = [[${parcari}]];
    	  var infowindow = new google.maps.InfoWindow();
          for (i = 0; i < ListAdresses.length; i++) {
        	  
           	  var address = ListAdresses[i].adresa;
           	  var nr_locuri = ListAdresses[i].nr_locuri;
           	  var lat = ListAdresses[i].latitudine;
           	  var lng = ListAdresses[i].longitudine;
           	  var id = ListAdresses[i].parcareId;
        	  var status = ListAdresses[i].status;
        	  var oraDeschidere = ListAdresses[i].oraDeschidere;
        	  var oraInchidere = ListAdresses[i].oraInchidere;
        	  var html = "<div class='row form-group verical-space'>" +
              "<span class='width-full' type='text' id='name' name='adresa' placeholder='Adress'>" + address + "</span>" +
              "</div>" +
              "<div class='row form-group verical-space'>" +
              "<span class='width-full closed' type='text' placeholder='Adress'>TEMPORARILY CLOSED</span>" +
              "</div>";
        	  if (status == 1){
        	  		html = "<div class='width-full pop'> <div class='row form-group verical-space'>" +
                    " <span class='width-full' type='text' id='name' name='adresa' placeholder='Adress'>" + address + "</span>" +
                    "</div>" +
                    "<div class='row form-group verical-space'>" +
                    "<span class='col-xl-5 col-md-5'>locuri: </span> <span class='col-xl-5 col-md-5' type='text' id='name' name='adresa' placeholder='Adress'>" + nr_locuri + "</span>" +
                  "</div>" +
                  "<div class='row form-group verical-space'>" +
                  "<span class='col-xl-5 col-md-5'>Deschidere: </span> <span class='col-xl-5 col-md-5' type='text' id='name' name='adresa' placeholder='Adress'>" + oraDeschidere + "</span>" +
                "</div>" +
                "<div class='row form-group verical-space'>" +
                "<span class='col-xl-5 col-md-5'>Inchidere: </span> <span class='col-xl-5 col-md-5' type='text' id='name' name='adresa' placeholder='Adress'>" + oraInchidere + "</span>" +
              "</div>" +
     
            "<div class='row form-group verical-space'>" +
            "<input class='rezerva btn btn-primary btn-style col-xl-5' data-toggle='modal' data-target='#exampleModal' type='submit' id='" + id + "' name='rezerva' value='Rezerva' />" +
          "</div></div>";
        	  }
        	  var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: new google.maps.LatLng(lat, lng),
                  icon: "/img/parking-icon.png"
                });
        	  makeInfoWindowEvent(map, infowindow, html, marker);
          }
          
          function makeInfoWindowEvent(map, infowindow, contentString, marker) {
        	  google.maps.event.addListener(marker, 'click', function() {
        		infowindow.setContent(contentString);
        	    infowindow.open(map, marker);
        	  });
        	}
      }

    </script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvoYpTH5xFcgsi8CW6Gh7eimOd6AoOIUY&callback=initMap">
    </script>

</body>
</html>