<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
<div th:replace="header :: header-css"></div>
<!-- CSS File -->
<link rel="stylesheet" href="css/user-reservations.css" type="text/css">
<title>ParkingApp</title>
</head>
<body>
	<div class="container-fluid height-full">
		<div th:replace="header :: header"></div>
		<div id="logo" class="row d-flex justify-content-center">
			<h1 class="col-xl-12">Tesla</h1>
		</div>
		<div class="container row main height-full width-full">
			<div class="row width-full">
				<div class="row width-full">
					<h2 class="col-xl-12 col-md-12">My Reservations</h2>
				</div>
				<ul class="row width-full reservations" id="rezervations">
					
				</ul>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<script th:inline="javascript">
	  $(document).ready(function() {
		  var rezervari = [[${rezervari}]];
		  var rez = "";
		  for (var i = 0; i < rezervari.length; i++){
			  rez += "<li class='row width-full reservation'><span "+
				"class='col-xl-12 col-md-12'>" + rezervari[i].adresa +"</span> <span "+
				"class='col-xl-12 col-md-12'>" + rezervari[i].nr_inmatriculare +"</span> <span "+
				"class='col-xl-6 col-md-6'>" + rezervari[i].ora_inceput + "</span> <span "+
				"class='col-xl-6 col-md-6'>" + rezervari[i].ora_sfarsit + "</span></li>";
		  }
		  $("#rezervations").html(rez);
	  });
	  </script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>