<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="header :: header-css"></div>
   
    <link rel="stylesheet" href="css/adauga-parcare.css" type="text/css">
    
</head>
<body>
    <div class="container-fluid height-full">
		<div th:replace="header :: header"></div>
        <div id="logo" class="row d-flex justify-content-center">
            <h1 class="col-xl-12">Tesla</h1>
        </div>
        <div class="container row main height-full width-full">
            <div class="row width-full">
                <form class="width-full" th:action='@{/adauga-parcare}' th:object='${parcare}'
							method='post'>
                  <div class="row form-group verical-space" th:classappend="${#fields.hasErrors('adresa')}? 'has-error':''">           	
                    <label class='col-xl-4 col-md-4' for='adresa'>Adresa: </label> 
                    <input class="col-xl-8 col-md-8 form-control" type="text" id="adresa" name="adresa" th:field='*{adresa}' placeholder="Adresa">
                    <p class="error-message"
						th:each="error: ${#fields.errors('adresa')}" th:text="${error}">Validation
						error</p>
                  </div>
                  <div class="row form-group verical-space" th:classappend="${#fields.hasErrors('nr_locuri')}? 'has-error':''">
                    <label class='col-xl-4 col-md-4' for='nr_locuri'>Locuri: </label> 
                    <input class="col-xl-8 col-md-8 form-control" type="text" id="nr_locuri" th:field='*{nr_locuri}' placeholder="120" name="nr_locuri">
                    <p class="error-message"
						th:each="error: ${#fields.errors('nr_locuri')}" th:text="${error}">Validation
						error</p>
                  </div>
                  <div class="row form-group verical-space" th:classappend="${#fields.hasErrors('oraDeschidere')}? 'has-error':''">
                    <label class='col-xl-4 col-md-4' for='ora_deschidere'>Ora deschidere: </label> 
                    <input class="col-xl-8 col-md-8 form-control" type="time" id="ora_deschidere" th:field='*{oraDeschidere}' placeholder="00:00" name="ora_deschidere">
                   <p class="error-message"
						th:each="error: ${#fields.errors('oraDeschidere')}" th:text="${error}">Validation
						error</p>
                  </div>
                   <div class="row form-group verical-space" th:classappend="${#fields.hasErrors('oraInchidere')}? 'has-error':''">
                    <label class='col-xl-4 col-md-4' for='ora_inchidere'>Ora inchidere: </label> 
                    <input class="col-xl-8 col-md-8 form-control" type="time" id="ora_inchidere" th:field='*{oraInchidere}' placeholder="00:00" name="ora_inchidere">
                     <p class="error-message"
						th:each="error: ${#fields.errors('oraInchidere')}" th:text="${error}">Validation
						error</p>
                   </div>
                  <div class="row verical-space">    
                    <button type="submit" class="btn btn-primary btn-style col-xl-6" id="add" name='add'>Creare</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>