<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<div th:replace="header :: header-css"></div>

<link rel="stylesheet" href="css/admin.css" type="text/css">

</head>
<body>
	<div class="container-fluid height-full">
		<div th:replace="header :: header"></div>
		<div id="logo" class="row d-flex justify-content-center">
			<h1 class="col-xl-12">Tesla</h1>
			"
		</div>
		<div class="container row main height-full width-full">
	
			<div class="row width-full" id="map">
			
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<script th:inline="javascript">
	  $(document).ready(function() {
         
	 });
function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 46.775349, lng: 23.622477}
        });
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);
      }

      function geocodeAddress(geocoder, resultsMap) {
    	  var ListAdresses = [[${parcari}]];
    	  var infowindow = new google.maps.InfoWindow();
          for (i = 0; i < ListAdresses.length; i++) {
              var address = ListAdresses[i].adresa;
           	  var nr_locuri = ListAdresses[i].nr_locuri;
              var deschidere = ListAdresses[i].oraDeschidere;
              var inchidere = ListAdresses[i].oraInchidere;
              var pret = ListAdresses[i].pret;

           	  var lat = ListAdresses[i].latitudine;
           	  var lng = ListAdresses[i].longitudine;
           	  var id = ListAdresses[i].parcareId;
           	  var status = ListAdresses[i].status;
        	  var html = "<form class='width-full' th:action='@{/administrare-parcare}' th:object='${parcare}'  method='post'>" +
        	  	"<input type='hidden' name='parcareId' th:field='*{parcareId}' value='" + id + "'>" +
                  "<div class='row form-group verical-space'>" +
                  "<span class='width-full' type='text' id='name' name='adresa' placeholder='Adress'>" + address + "</span>" +
                "</div>" +
                "<div class='row form-group verical-space' style='float:left'>" +
                  "<span class='col-xl-5 col-md-5'>Locuri: </span> <span class='col-xl-5 col-md-5 type='number' id='nr_locuri' name='nr_locuri' placeholder='Number of spots'>" + nr_locuri + "</span>" + 
                "</div>" +
                "<div class='row form-group verical-space' style='float:left'>" +
                "<span class='col-xl-5 col-md-5'>Deschidere: </span> <span class='col-xl-5 col-md-5' id='oraDeschidere' name='oraDeschidere'  placeholder='Ora deschidere' >" + deschidere + "</span></div>" + 
                "<div class='row form-group verical-space' style='float:left'>" +
                "<span class='col-xl-5 col-md-5'>Inchidere: </span> <span class='col-xl-5 col-md-5 ' id='oraInchidere' name='oraInchidere'  placeholder='Ora inchidere' >" + inchidere + "</span>" +
              	"</div>" +
                "<div class='row verical-space buttons'>" +
                  "<button type='submit' class='btn btn-primary btn-style col-xl-5' name='details'>Manage</button>" +
                  "<button type='submit' class='btn btn-primary btn-style col-xl-6' name='rezervations'>Reservations</button>" +
                "</div>" +
              "</form>";
              
        	  var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: new google.maps.LatLng(lat, lng),
                  icon: "/img/parking-icon.png"
                });
          
        	  makeInfoWindowEvent(map, infowindow, html, marker);
          }
          
          function makeInfoWindowEvent(map, infowindow, contentString, marker) {
        	  google.maps.event.addListener(marker, 'click', function() {
        		infowindow.setContent(contentString);
        	    infowindow.open(map, marker);      	    
        	  });
        	}
      }

    </script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvoYpTH5xFcgsi8CW6Gh7eimOd6AoOIUY&callback=initMap">
    </script>

</body>

</html>