<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<!-- Fonts -->

<!-- CSS File -->
<link rel="stylesheet" href="css/administrare-parcare.css"
	type="text/css">
<title>ParkingApp</title>
</head>
<body>
	<div class="container-fluid height-full">
		<div class="header">
	       <ul class="menu container">
	         <li>Home</li>
	         <li>Logout</li>
           </ul>
        </div>
		<div id="logo" class="row d-flex justify-content-center">
			<h1 class="col-xl-12">Tesla</h1>
		</div>
		<div class="container row main height-full width-full">
			<div class="row width-full" id="map">
				<!--  <form class="width-full" th:action="@{/administrare-parcare}" th:object="${parcare}"  method="post">
                  <div class="row form-group verical-space">
                    <input class="col-xl-12 col-md-12 form-control" type="text" id="name" name="adresa" th:field="*{adresa}" placeholder="Adress">
                  </div>
                  <div class="row form-group verical-space">
                    <input class="col-xl-12 col-md-12 form-control" type="number" id="phone" name="nr_locuri" th:field="*{nr_locuri}" placeholder="Number of spots">
                  </div>
                  <div class="row form-group verical-space">
                    <button class="col-xl-6 col-md-6 form-control delete" id="close">CLOSE</button>
                    <button class="col-xl-6 col-md-6 form-control add" hidden id="open">OPEN</button>
                  </div>
                  <div class="row verical-space">    
                    <button type="submit" class="btn-style col-xl-4 add" name="add">Add</button>
                    <button type="submit" class="btn-style col-xl-4 delete" name="delete">Delete</button>
                    <button type="submit" class="btn-style col-xl-4 update" name="update">Update</button>
                  </div>
                </form>-->
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<script th:inline="javascript">
 
function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 46.769605, lng: 23.588730}
        });
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);
      }

      function geocodeAddress(geocoder, resultsMap) {
    	  var ListAdresses = [[${parcari}]];
    	  var infowindow = new google.maps.InfoWindow();
          for (i = 0; i < ListAdresses.length; i++) {
              var address = ListAdresses[i].adresa;
           	  var nr_locuri = ListAdresses[i].nr_locuri;
              var deschidere = ListAdresses[i].oraDeschidere;
              var inchidere = ListAdresses[i].oraInchidere;
              var pret = ListAdresses[i].pret;

           	  var lat = ListAdresses[i].latitudine;
           	  var lng = ListAdresses[i].longitudine;
           	  var id = ListAdresses[i].parcareId;
        	  var html = "<form class='width-full' th:action='@{/administrare-parcare}' th:object='${parcare}'  method='post'>" +
        	  	"<input type='hidden' name='parcareId' th:field='*{parcareId}' value='" + id + "'>" +
                  "<div class='row form-group verical-space'>" +
                  "<label class='col-xl-4 col-md-4' for='name'>Adresa: </label> <input class='col-xl-8 col-md-8 form-control' type='text' id='name' name='adresa' th:field='*{adresa}' placeholder='Adress' value='" + address + "'>" +
                "</div>" +
                "<div class='row form-group verical-space' style='float:left'>" +
                  "<label class='col-xl-4 col-md-4' for='nr_locuri'>Locuri: </label> <input class='col-xl-8 col-md-8 form-control' type='number' id='nr_locuri' name='nr_locuri' th:field='*{nr_locuri}' placeholder='Number of spots' value='" + nr_locuri + "'>" + 
                "</div>" +
                "<div class='row form-group verical-space' style='float:left'>" +
                "<label class='col-xl-4 col-md-4' for='ora_deschidere'>Ora deschidere: </label> <input class='col-xl-8 col-md-8 form-control' type='time' id='oraDeschidere' name='oraDeschidere' th:field='*{oraDeschidere}' placeholder='Ora deschidere' value='" + deschidere + "'></div>" + 
                "<div class='row form-group verical-space' style='float:left'>" +
                "<label class='col-xl-4 col-md-4' for='ora_inchidere'>Ora inchidere: </label> <input class='col-xl-8 col-md-8 form-control' type='time' id='oraInchidere' name='oraInchidere' th:field='*{oraInchidere}' placeholder='Ora inchidere' value='" + inchidere + "'>" +
              	"</div>" +
              	"<div class='row form-group verical-space' style='float:left'>" +
                "<label class='col-xl-4 col-md-4' for='pret'>Pret: </label> <input class='col-xl-8 col-md-8 form-control' type='number' id='pret' name='pret' th:field='*{pret}' placeholder='Pret' value='" + pret + "'>" + 
             	 "</div>" +
                "<div class='row form-group verical-space'>" +
                "<label class='switch'>" +
                "<input id='remember' type='checkbox' checked>" +
                "<span class='slider round'></span>" +
              	"</label><br><br>" +
                "</div>" +
                "<div class='row verical-space'>" +
                  "<button type='submit' class='btn-style col-xl-4 add' name='details'>Details</button>" +
                  "<button type='submit' class='btn-style col-xl-4 delete' name='delete'>Delete</button>" +
                  "<button type='submit' class='btn-style col-xl-4 update' name='update'>Update</button>" +
                "</div>" +
              "</form>";
        	  
        	  var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: new google.maps.LatLng(lat, lng),
                });
        	  makeInfoWindowEvent(map, infowindow, html, marker);
          
          }
          
          function makeInfoWindowEvent(map, infowindow, contentString, marker) {
        	  google.maps.event.addListener(marker, 'click', function() {
        		infowindow.setContent(contentString);
        	    infowindow.open(map, marker);
        	  });
        	}
      }

    </script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvoYpTH5xFcgsi8CW6Gh7eimOd6AoOIUY&callback=initMap">
    </script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>