<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: header-css"></div>

<link rel="stylesheet" href="css/detalii-parcare.css" type="text/css">
	

</head>
<body>
	<div class="container-fluid height-full">
		<div th:replace="header :: header"></div>
		<div id="logo" class="row d-flex justify-content-center">
			<h1 class="col-xl-12">Tesla</h1>
		</div>
		<div class="container row main height-full width-full">
			<div class="row width-full">
				<div class="col-xl-5 col-md-5 section section-bgc"
					id="caracteristici">
					<div class="row width-full">
						<h2 class="col-xl-12 col-md-12">Caracteristici</h2>
					</div>
					<div class="row width-full statistics">
						<form id="formParcare" class='width-full'
							th:action='@{/detalii-parcare}' th:object='${parcare}'
							method='post'>
							<div th:if="${message == 'success'}">
								<div class="alert alert-success">
									Parcare updatata cu succes!
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">

										<span aria-hidden="true">&times;</span>

									</button>
								</div>
							</div>
							<div th:if="${message == 'failed'}">
								<div class="alert alert-danger">Eroare la update!</div>
							</div>
							<input type='hidden' name='parcareId' th:field='*{parcareId}'>
							<div class='row form-group verical-space'>
								<label class='col-xl-4 col-md-4' for='name'>Adresa: </label> <input
									class='col-xl-8 col-md-8 form-control' type='text' id='name'
									name='adresa' th:field='*{adresa}' placeholder='Adress'>
							</div>
							<div class='row form-group verical-space'>
								<label class='col-xl-4 col-md-4' for='nr_locuri'>Locuri:
								</label> <input class='col-xl-8 col-md-8 form-control' type='number'
									id='nr_locuri' name='nr_locuri' th:field='*{nr_locuri}'
									placeholder='Number of spots'>
							</div>
							<div class='row form-group verical-space'>
								<label class='col-xl-4 col-md-4' for='ora_deschidere'>Ora
									deschidere: </label> <input class='col-xl-8 col-md-8 form-control'
									type='time' id='oraDeschidere' name='oraDeschidere'
									th:field='*{oraDeschidere}' th:value='*{oraDeschidere}'
									placeholder='Ora deschidere'>
							</div>
							<div class='row form-group verical-space'>
								<label class='col-xl-4 col-md-4' for='ora_inchidere'>Ora
									inchidere: </label> <input class='col-xl-8 col-md-8 form-control'
									type='time' id='oraInchidere' name='oraInchidere'
									th:field='*{oraInchidere}' placeholder='Ora inchidere'>
							</div>
							<div class='row form-group verical-space'>
								<span id="status_val" style="display: none;" th:text="*{status}"></span>
								<label class='col-xl-4 col-md-4' for='status'>Status: </label> <input
									id="status" name='status' th:field='*{status}' type="checkbox"
									data-toggle="toggle" data-width="100" data-onstyle="success"
									data-offstyle="danger" data-on="Open" data-off="Close">
							</div>
							<div class='row verical-space buttons'>
								<button type='submit'
									class='btn btn-primary btn-style col-xl-4 update' name='update'>Update</button>
								<button type='submit'
									class='btn btn-primary btn-style col-xl-4 delete' name='delete'>Delete</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-xl-6 col-md-6 section">
					<div class="row section-bgc aside">
						<div class="row width-full">
							<h2 class="col-xl-12 col-md-12">Statistici</h2>
						</div>
						<div class="row width-full statistics">
						<div id="chartContainer" style="height: 300px; width: 80%;"></div>
						 <span class="col-xl-6 col-md-6">Locuri ocupate acum:</span> <span
								class="col-xl-6 col-md-6" id="locuri_ocupate"
								name="locuri_ocupate" th:text="${locuri_ocupate}"></span>
						</div>
					</div>
					<div class="row section-bgc aside" id="admin">
						<div class="row width-full">
							<h2 class="col-xl-12 col-md-12">Administrator</h2>
						</div>
						<div class="row width-full statistics">
						<div id="successEmail"></div>

							<form id="formAdministrator" class='width-full'	method='post'>
							
								<input type="text" id="firmaEmail" class="form-control" name="email" th:value="${parcare.user.email}">
								<div id="saveAdministrator" class="btn btn-primary form-control">Edit</div>							
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		$(document).ready(function() {
			$("#firmaEmail").autocomplete({
				source : "/detalii-parcare/search",
				minLength : 3
			});
			var status = $('#status_val').text();
			if (status == "true") {
				$('#status').bootstrapToggle('on');
			} else {
				$('#status').bootstrapToggle('off');
			}
			
			
			
			 $("#saveAdministrator").on("click",function(){
			        var email = $("#firmaEmail").val();
			       console.log(email);
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : "/detalii-parcare/changeAdministrator",
					    data : email,
					    dataType : 'text',
						success : function(result) {						
							$("#successEmail").html("<div id='successSaveEmail' class='alert alert-success'>"+
							'Administrator modificat cu succes!'+
							"<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"+
								"<span aria-hidden='true'>&times;</span></button></div>");	
							$("#successEmail").css("width", "80%");
						},
						error : function(e) {
							alert("Error!")
							console.log("ERROR: ", e);
						}
					});
				});
			
		});
	
		window.onload = function() {
			//chart
			var dataPointsList = [[${dataPointsList}]]; 
			
			var chart = new CanvasJS.Chart("chartContainer", {
				theme: "light2", // "light1", "dark1", "dark2"
				animationEnabled: true,
				title: {
					text: "Profitul pe ultimele 7 zile"
				},
				axisX: {
					valueFormatString: "DD-MMM"
				},
				axisY: {
					title: "Valoare in lei",
					suffix: " lei"
				},
				options: {
	                responsive: false
	            },
				data: [
				      {        
				        type: "area",
				        color: "rgba(0,75,141,0.7)",
				        dataPoints: [

				        { x: new Date(dataPointsList[0].x), y: dataPointsList[0].y},       
				        { x: new Date(dataPointsList[1].x), y: dataPointsList[1].y}, 
				        { x: new Date(dataPointsList[2].x), y: dataPointsList[2].y}, 
				        { x: new Date(dataPointsList[3].x), y: dataPointsList[3].y}, 
				        { x: new Date(dataPointsList[4].x), y: dataPointsList[4].y}, 
				        { x: new Date(dataPointsList[5].x), y: dataPointsList[5].y},
				        { x: new Date(dataPointsList[6].x), y: dataPointsList[6].y}
				        
				        ]
				    }
				    
				    ]
				
				
			});
			
			chart.render();
			//end chart
		}
	</script>
		<script src="js/canvasjs.min.js"></script>
</body>
</html>