<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Fonts -->
    
    <!-- CSS File -->
    <link rel="stylesheet" href="css/detalii-parcare.css" type="text/css">
    <title>ParkingApp</title>
</head>
<body>
    <div class="container-fluid height-full">
        <div class="header">
	       <ul class="menu container">
	         <li>Home</li>
	         <li>Logout</li>
           </ul>
        </div>
        <div id="logo" class="row d-flex justify-content-center">
            <h1 class="col-xl-12">Tesla</h1>
        </div>
        <div class="container row main height-full width-full">
            <div class="row width-full">
                <div class="col-xl-7 col-md-7 section section-bgc" id="caracteristici">
                  <div class="row width-full">
                    <h2 class="col-xl-12 col-md-12">Caracteristici</h2> 
                  </div>
                  <div class="row width-full statistics">
                      <span class="col-xl-6 col-md-6">Adresa</span>
                      <span class="col-xl-6 col-md-6" id="adress" name="adress">Strada..</span>
                      <span class="col-xl-6 col-md-6">Numar locuri</span>
                      <span class="col-xl-6 col-md-6" id="nr_locuri" name="nr_locur">10</span>
                      <span class="col-xl-6 col-md-6">Ora deschidere</span>
                      <span class="col-xl-6 col-md-6" id="ora_deschidere" name="ora_deschidere">12:00</span>
                      <span class="col-xl-6 col-md-6">Ora inchidere</span>
                      <span class="col-xl-6 col-md-6" id="ora_inchidere" name="ora_inchidere">12:00</span>
                      <span class="col-xl-6 col-md-6">Status</span>
                      <span class="col-xl-6 col-md-6" id="status" name="status">open</span>
                      <span class="col-xl-6 col-md-6">Latitudine</span>
                      <span class="col-xl-6 col-md-6" id="latitudine" name="latitudine">12.123123</span>
                      <span class="col-xl-6 col-md-6">Longitudine</span>
                      <span class="col-xl-6 col-md-6" id="longitudine" name="longitudine">12.123123</span>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 section">
                  <div class="row section-bgc aside">
                      <div class="row width-full">
                        <h2 class="col-xl-12 col-md-12">Statistici</h2> 
                      </div>
                      <div class="row width-full statistics">
                          <span class="col-xl-6 col-md-6">Profit</span>
                          <span class="col-xl-6 col-md-6" id="profit" name="profit">150 lei</span>
                          <span class="col-xl-6 col-md-6">Locuri ocupate</span>
                          <span class="col-xl-6 col-md-6" id="locuri_ocupate" name="locuri_ocupate">10</span>
                      </div>
                  </div>
                    <div class="row section-bgc aside" id="admin">
                      <div class="row width-full">
                        <h2 class="col-xl-12 col-md-12">Administrator</h2> 
                      </div>
                      <div class="row width-full statistics">
                          <span class="col-xl-6 col-md-6">Email</span>
                          <span class="col-xl-6 col-md-6" id="email" name="email">user@yahoo.com</span>
                          <span class="col-xl-6 col-md-6">Name</span>
                          <span class="col-xl-6 col-md-6" id="name" name="name">Admin</span>
                          <div class="col-xl-12 col-md-12 button">
                            <button class="btn btn-primary">Edit</button>
                          </div>
                      </div>
                  </div>
                </div>    
            </div>
        </div>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>